:root{
    --primari-font-family:"Roboto", sans-serif;
    --secondary-font-family:"Raleway", sans-serif;
    --accent-color:#2196F3;
    --text-color:#757575;
    --title-color:#212121;
    --secondary-color:#FFFFFF;
    --secondary-background-color:#2F303A;
    --primari-background-color:#F5F4F5;



}
.list{
list-style: none;
}
.link{
text-decoration: none;
}
body{
    font-family:var(--primari-font-family);
    color: var(--title-color);
    border-color: var(--primari-background-color);
}
.header{
    background-color: var(--secondary-color);
}
.logo {   
font-family: var(--secondary-font-family);
font-weight: 700;
font-size: 26px;
line-height: 1.19;

letter-spacing: 0.03em;

color:var(--accent-color);
}
.logo-header{
    color:var(--title-color);
}

.logo-footre{
    color:var(--secondary-color);
}

.nav-list-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--title-color);
}
.nav-list .nav-list-link.current{
    color: var(--accent-color);
}
.nav-list-link:hover,
.nav-list-link:focus{
    color: var(--accent-color);
}


.contacts-mail{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color:var(--text-color);
}
.contacts-mail:hover,
.contacts-mail:focus{
    color:var(--accent-color);
}
.contacts-number{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color:var(--text-color);
}
.contacts-number:hover,
.contacts-number:focus{
    color:var(--accent-color);
}
.hero{
    background-color: var(--secondary-background-color);
}
.main-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--secondary-color);

}

.modal-btn{
font-weight: 700;
font-size: 16px;
line-height: 1.88;

letter-spacing: 0.06em;
cursor: pointer;

color: #FFFFFF;
background:var(--accent-color);
}
.modal-btn:hover,
.modal-btn:focus{
 background:#188CE8;
}
.title{
    visibility: hidden;
}

.attribute-title{
font-family:var(--primari-font-family);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color:var(--title-color);
}

.attribute-text{
font-family: var(--primari-font-family);
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;

color: var(--text-color);

}
.collectivity{
    background-color:#F5F4FA;
}

.section-title{
font-family: var(--primari-font-family);
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

color: var(--title-color);
}
.collectivity-item{
    background-color: var(--secondary-color);

}
.collectivity-title{
font-family: var(--primari-font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--title-color);
}
.collectivity-text{
font-family: var(--primari-font-family);
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;

color:var(--text-color);
}
.footer{
    background-color: var(--secondary-background-color);
}
.address-list-link{
font-family:var(--primari-font-family);
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--secondary-color);
}
.mail,
.tel{
    background-color:rgba(255, 255, 255, 60%) 
}
/*==============PORTFOLIO================*/

.projects-list-button{
font-family: var(--primari-font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.62;

text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
color: var(--title-color);
background-color: var(--primari-background-color);

}
.projects-list-button:hover,
.projects-list-button:focus{
  color: #FFFFFF;
  background: var(--accent-color);
}
.portfolio-list-titel{
font-family: var(--primari-font-family);
font-weight: 700;
font-size: 18px;
line-height: 2;

letter-spacing: 0.06em;

color: var(--title-color);
}
.portfolio-list-text{
font-family: var(--primari-font-family);
font-size: 16px;
line-height: 1.88;

letter-spacing: 0.03em;

color:var(--text-color);

}